# Arquivos de ambiente
.env
*.env

# Banco de dados
*.db
*.sqlite

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db