flask==2.3.3
requests==2.31.0
python-dotenv==1.0.0
psycopg2-binary
git+https://github.com/Lu-Yi-Hsun/iqoptionapi.git
websocket-client==0.56.0
gunicorn==21.2.0
pytest==8.2.2
matplotlib==3.8.0
pandas==2.2.0
mplfinance==0.12.9b7
plotly==5.18.0
kaleido==0.2.1
